<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/var/folders/gp/tnnm4vrd1_j7zm_8dg9j40tm0000gn/T/com.apple.useractivityd/shared-pasteboard/items/8E89937C-62D9-4668-AAB5-B0D0B2766CDC/713f328fe4e8a0a4d882ed42aa232cf1e5a532ab.rtfd</string>
</array>
</plist>
