<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/var/folders/gp/tnnm4vrd1_j7zm_8dg9j40tm0000gn/T/com.apple.useractivityd/shared-pasteboard/items/A7DF8256-CD84-4D0B-8E56-CA9699C55F7A/298114e6bf98ff87b65ed13ba90600b5f5da4d17.rtfd</string>
</array>
</plist>
