<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/var/folders/gp/tnnm4vrd1_j7zm_8dg9j40tm0000gn/T/com.apple.useractivityd/shared-pasteboard/items/EE98546F-9092-4C44-BE97-C421334D6B3E/7f32d8f7b4738359bbe35971a6ab860f4cd96834.rtfd</string>
</array>
</plist>
