<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/var/folders/gp/tnnm4vrd1_j7zm_8dg9j40tm0000gn/T/com.apple.useractivityd/shared-pasteboard/items/AFE06D2C-C228-4521-9225-47C0655E7E7D/2b3737c00f054187e5952b42b0990f5f44569a75.rtfd</string>
</array>
</plist>
