<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/var/folders/gp/tnnm4vrd1_j7zm_8dg9j40tm0000gn/T/com.apple.useractivityd/shared-pasteboard/items/BDDBFD79-034B-43F4-9F51-7370D68BB55C/47a203eb0fb4c8d10313c5c65a14aca716da27ac.rtfd</string>
</array>
</plist>
