<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/var/folders/gp/tnnm4vrd1_j7zm_8dg9j40tm0000gn/T/com.apple.useractivityd/shared-pasteboard/items/A136B9B3-6757-4E3D-B4DD-FEEA8D4BCC10/ed6a92dd544dff1903c9371092511f04b38cd0b2.rtfd</string>
</array>
</plist>
