<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/var/folders/gp/tnnm4vrd1_j7zm_8dg9j40tm0000gn/T/com.apple.useractivityd/shared-pasteboard/items/CD6124B7-43B1-412A-80E3-458706B6866B/1eb17a8bcbec02e5bfe1d56a5652f43fd9f8d2c9.rtfd</string>
</array>
</plist>
