<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/var/folders/gp/tnnm4vrd1_j7zm_8dg9j40tm0000gn/T/com.apple.useractivityd/shared-pasteboard/items/FCE6310D-2B0A-48C5-BB2E-8F74A62F0AC2/f0d63ca6cd7519772a8f8604c568c17024760c55.rtfd</string>
</array>
</plist>
